.body-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-top: -100px;
  background-color: #f2f2f2;
}

.title-page {
  font-size: 90px;
  margin-right: 150px;
}

.container {
  text-align: center;
}
